*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: sans-serif;
    transition: background-color .5s;
}
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }
  
  .nav-link{  
    width: 100%;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    color: White;
    font-family: Arial;
    letter-spacing: 2px;
  }
  .nav-link:hover{
    border-bottom: 2px solid var(--lightGreen);
  }
  .header {
    position: relative;
    background-color: white;
    padding-top: 8ch;
    padding-bottom: 3ch;
    /* Border-image: fill 0 linear-gradient(#0003, #000); */
  }
  .header-guide {
    position: absolute;
    top: 10ch;
    width: 100%;
    background-color: #06355c;
  }
  .header-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: green;
  }
  .navigation {
    position: absolute;
    top: 10ch;
    left: 1ch;
    padding-bottom: 16ch;
    /* position: fixed; */
  }
  .navigation a {
    margin-left: 3ch;
    text-decoration-line: none;
    top: 16ch;
    color: black;
    /* word-spacing: -2px; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:normal;
  
  }
  .navigation a.activated {
    color: white;
    padding-left: 1ch;
    background-color: black;
    padding-right: 1ch;
    /* border-radius: 3ch; */
  }
  .navigation a:hover {
    color: rgb(166, 70, 70);
  }
  .btn1 {
    position:relative;
    color: black;
    background-color: white;
    text-decoration-line: none;
    padding-left: 8ch;
    padding-right: 8ch;
    padding-bottom: 10px;
    padding-top: 10px;
    left: 120ch;
    top: -7ch;
    border: 1px solid rgb(166, 70, 70);;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .btn1:hover {
    background-color: black;
    color: white ;
  }
  .sub-nav {
    position:relative;
    margin-left: 3ch;
    color: #06355c;
    background-color: white;
    text-decoration-line: none;
    left: 47ch;
    top: -7ch;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .sub-nav:hover{
    color: rgb(166, 70, 70);;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .logo{
    position: relative;
    top: -94.8ch;
    width: 22ch;
    height: 13ch;
    /* background-color: red; */
} 

 /* section 2 */ 


 .contestant{
   position: absolute;
   left: 19ch;
   top: 33ch;
   color: black;
   font-family:Cambria;
   font-size: 5ch;
   width: 20ch;
}

.box-border {
    margin-top: 3ch;
    display: flex;
    width: 100%;
    flex-direction: row;
    /* background-color: white; */
    /* box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1); */
}

.box{
    position: relative;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    /* background: rgb(44, 43, 43); */
    /* transition: .5s; */
}

.box .imgBx{
display: flex;
flex-direction: row;
    width: 80%;
    height: 300px;
    box-sizing: border-box;
    background-color: black;
    /* border-radius: 3ch; */
}
.box .content {
    position: absolute;
    bottom: 10px;
    top: 33ch;
    left: 28px;
    width: 26ch;
    right: 10px;
    height: 20ch;
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    justify-content: center;
    align-items: center;
    /* opacity: 0; */
    /* transition: .2s; */
    /* box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1); */
}
.box h2{
    color: black;
    font-family: cursive;
    /* transition: .2s; */
    font-family: cursive;
    text-transform:uppercase;
    font-size: small;

}

.box:before.box:after{
    position: absolute;
    top: 9ch;
background: linear-gradient(225deg, #131313,);
}


/* section 2/1 */

.box-border-1{
    margin-top: 20ch;
    display: flex;
    width: 100%;
    height: 54ch;
    flex-direction: row;
    /* background-color: gray; */
    /* box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1); */
}
/* section 2/2 */

.box-borders-2{
    margin-top: 9ch;
    display: flex;
    width: 100%;
    height: 54ch;
    flex-direction: row;
    /* background-color: gray; */
    /* box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1); */
}
.box-borderss-2 {
    margin-top: 9ch;
    display: flex;
    width: 100%;
    height: 54ch;
    flex-direction: row;
    /* background-color: gray; */
    /* box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1); */
}

    /* footer-section */

.footer-body {
    position: absolute;
    top:380ch;
    width: 100%;
    height: 40ch;
    background-color:rgb(0, 0, 0);
    }
.footer-cover-6{
    margin-top: 2ch;
        width: 100%;
        /* height: 10ch; */
    }
    .footer-line{
        /* margin-top: 5ch; */
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    .footer-cover-6 a {
        display: flex;
        flex-direction: row;
        color: rgb(255, 255, 255);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: 50ch;
        margin-top: 3ch;
        word-spacing: 4px;
        text-decoration-line: none;
    }
    .footer-logo{
        display:flex;
        flex-direction:column;
        margin-left: 110ch;
        width: 17%;
        height: 17%;
        margin-top: -27ch;
        /* background-color: black; */
        
    }
    .footer-link a{
        display: flex;
        flex-direction: row;
        color: rgb(255, 255, 255);
        line-height: 3;
        margin-left: 80ch;
    }
    .footer-link a:hover{
        color: rgb(255, 0, 0);
    }

    .sect-2-bord{
        position: absolute;
        left: 12ch;
        /* background-color: whitesmoke; */
        height: 30ch;
        width: 60ch;
        top: 2ch;
    
      }
      .sect-2-bord a{
        line-height: 5ch;
        text-decoration-line: none;
        color: white;
      }
      .sect-2-bord a:hover{
        color: red;
      }


            /* top */
    #myBtn {
        display: ; /* Hidden by default */
        position: absolute; /* Fixed/sticky position */
        bottom: 8ch; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        /* z-index: 99; Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: #444; /* Set a background color */
        color: black; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
      }
      
      #myBtn:hover {
        background-color: white;
        color: red; /* Add a dark-grey background on hover */
      }